{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="main-content-container"> 
    <style>
        .card {
            border-radius: 10px;
        }
    </style>
    <div class="alert alert-danger" role="alert">
        ⚠️ This is under construction ⚠️
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            📁 Add file explorer of all uploaded datasets
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            🔎 Add file explorer of all created objects
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            📊 Link to vis if already in existence
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            🍞 Fix breadcrumbs issue
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            🌗 Fix darkmode CSS
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            🦮 Add user guide
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
