{% extends "base.html" %}

{% block title %}Network Statistics Visualiser{% endblock %}

{% block content %}

<div class="main-content-container">
    <h1 class="mb-3">Select Network File</h1>
    <form action="/network_stats_vis" method="post">
        <label for="file-select">Choose a file:</label>
        <select id="file-select" name="file">
            {% for file in files %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Load Graph">
    </form>
</div>
{% endblock %}