{% extends "base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="main-content-container"> 

<div class="container">
    <h1>Support</h1>
    <br>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">For comprehensive information about the application, please refer to our detailed documentation.</h5>
            <p class="card-text"><a href="[need-to-add-documentation-link]" class="btn btn-secondary" role="button">Documentation</a>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">For information about the code base, please refer to the GitHub repository.</h5>
            <p class="card-text"><a href="https://github.com/jayasinp/SociaLens-Alpha" class="btn btn-secondary" role="button">GitHub Repository</a></a>
        </div>
    </div>
    <div class="mb-3">
    <p></p>
    
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">🏠</span> Home</h5>
            <p class="card-text">Here, you'll find detailed profiles of each team member, giving you insight into the expertise behind our services. For a bit of fun, try your hand at our interactive game – it's a great way to relax and enjoy your visit!.</p>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">☁️ </span> Upload Dataset</h5>
            <p class="card-text">Here, you'll find detailed profiles of each team member, giving you insight into the expertise behind our services. For a bit of fun, try your hand at our interactive game – it's a great way to relax and enjoy your visit!.</p>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">🕵️ </span> Scraper </h5>
            <p class="card-text">On the Scraper page, you can paste a URL to collect network data from external websites. For example, entering a Wikipedia URL will enable you to see a network graph of linked pages, offering unique insights into website structure and connectivity.</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">🔎 </span> Explore Data</h5>
            <p class="card-text">Visit the Explore Dataset page to view and manage your uploaded datasets. This page allows you to browse through different sheets and prepare your data for further analysis or visualization.
        </div>   
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"> <span class="emoji">📊 </span> Descriptive Statistics</h5>
            <p class="card-text">Here, you'll find detailed profiles of each team member, giving you insight into the expertise behind our services. For a bit of fun, try your hand at our interactive game – it's a great way to relax and enjoy your visit!.</p>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">⚡️ </span> Network Statistics</h5>
            <p class="card-text">The Network Statistics page offers a more in-depth analysis of your data, providing advanced statistical measures. Dive into complex analyses that reveal more about the interconnections within your dataset.</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"> <span class="emoji">𐄳 </span> ERGM</h5>
            <p class="card-text">The EGRM page introduces the Exponential Graph Model (EGRM), which you can apply to your data. This model helps in understanding the structural implications of network data, tailored to the specific characteristics of your dataset.</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">🕸️ </span> Network Visualiser</h5>
            <p class="card-text">On the Network Visualiser page, you can see the visual representation of your data's network statistics. This tool helps in visualizing complex relationships and network dynamics through intuitive graphs and network diagrams.</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">🤖 </span> O-MACHINE</h5>
            <p class="card-text">Interact with our O-MACHINE chatbot on this page for assistance and insights related to your dataset. Integrated with our GPT API, the chatbot can answer your queries and guide you through data analysis steps. </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><span class="emoji">📄 </span> Report Generator</h5>
            <p class="card-text">Use the Report Generator to compile and download comprehensive reports of your data in PDF format. This tool allows you to document all the statistical analyses, visualizations, and models related to your dataset for presentations or archival purposes</div>
    </div>
</div>
</div>
{% endblock %}
